@model noeTaskManager_app.Models.AuthModels.SigninModel
@{
    ViewData["Title"] = "Signin";
}
<div class="h-70 ">
    <h1>Sign in</h1>
    @Html.ValidationSummary(true)
    @using (Html.BeginForm("AuthSignIn", "Authentication", FormMethod.Post))
    {
     @Html.AntiForgeryToken()
        <div class="input-group mb-3 w-25">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">&#64;</span>
            </div>
            @*<input type="email" name="Email" id="Email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" required>*@ 
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", placeholder = "Email", aria_label = "Email", required = "required" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="input-group mb-3 w-25">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">#</span>
            </div>
            @*<input type="password" name="Password" id="Password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" required>*@
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password", placeholder = "Password", aria_label = "Password", required = "required" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>

        <button type="submit" class="btn btn-outline-success">Sign In</button>
    }
</div>