@{
    ViewData["Title"] = "Home Page";
    List<TaskItem> tasks = (List<TaskItem>)ViewData["tasks"];
}

@if (ViewData["ErrorMessage"] != null)
{
    <div class="error-message">@ViewData["ErrorMessage"]</div>
}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Summary</th>
            <th scope="col">Description</th>
            <th scope="col">Priority</th>
            <th scope="col">Due</th>
        </tr>
    </thead>
    <tbody>
        @if(ViewData["tasks"] != null)
        {
            @for(var i = 0; i < tasks.Count; i++)
            {
                <tr>
                    <th scope="row text-start">@i</th>
                    <td>@tasks[i].Summary</td>
                    <td>@tasks[i].Description</td>
                    <td>@tasks[i].Priority</td>
                    <td>@tasks[i].DueDate</td>
                </tr>
            }
        }
    </tbody>
