@{
    ViewData["Title"] = "Home Page";
    List<TaskItem> tasks = (List<TaskItem>)ViewData["tasks"];
}

@if (ViewData["ErrorMessage"] != null)
{
    <div class="error-message">@ViewData["ErrorMessage"]</div>
}

@if(TempData["success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["success"]
    </div>
}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Summary</th>
            <th scope="col">Description</th>
            <th scope="col">Priority</th>
            <th scope="col">Due</th>
        </tr>
    </thead>
    <tbody>
        @if(ViewData["tasks"] != null)
        {
            @for(var i = 0; i < tasks.Count; i++)
            {
                <tr>
                    <th scope="row text-start">@i</th>
                    <td>@tasks[i].Summary</td>
                    <td>@tasks[i].Description</td>
                    <td>@tasks[i].Priority</td>
                    <td>@tasks[i].DueDate</td>
                    <td><button id="deleteButton" data-id="@tasks[i].TaskKey">delete</button></td>
                </tr>
            }
        }
    </tbody>



    <script>
        $(document).ready(function () {
            $(".deleteButton").on("click", function () {
                var btn = $(this); 
                var taskKey = btn.data('id'); 
                $.ajax({
                    url: '@Url.Action("ActionDeleteTask", "Home")', 
                    method: "POST",
                    data: { taskKey: taskKey },
                    success: function (response) {
                        if (response.success) {
                            $('#task-row-' + taskKey).remove(); 
                            alert(response.message);
                        } else {
                            alert('Something went wrong. Please try again.');
                        }
                    },
                    error: function () {
                        alert('Error while deleting. Please try again.');
                    }
                });
            });
        });
    </script>
